# git ignore file
ConsoleApplication1.opensdf
ConsoleApplication1.sdf
ConsoleApplication1.v12.suo
ConsoleApplication1.v11.suo
[dD]ebug/
[rR]elease/
x64/
[bB]in/
[oO]bj/
ConsoleApplication1/[rR]elease/
ConsoleApplication1/[dD]ebug/
!freeglut.dll
!glew32.dll
ConsoleApplication1.VC.db
*.tlog
*.obj
